body{
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url(https://static.pexels.com/photos/19670/pexels-photo.jpg);
}
#content{
  display: flex;
  font-family: 'verdana';
}
h1{
  font-style: 'strong';
  font-family: 'verdana';
  font-size: 250%
}
#place{
  font-size: 200%;
  font-family: 'veranda';
  font-style: 'strong';
}
#minTemp0{
  align-content: center;
  bottom:300;
  font-size: 200%;
  color: #097;
  position: absolute;
  bottom: 200px;
  right: 40px;
  width: 92%;
}
#minTemp1{
  align-content: center;
  font-size: 200%;
  color: #097;
  position: absolute;
  bottom: 200px;
  right: 50px;
  width: 73%;
  
}
#minTemp2{
  align-content: center;
  font-size: 200%;
  color: #097;
  position: absolute;
  bottom: 200px;
  right:60px;
  width: 55%;
}
#minTemp3{
  align-content: center;
  font-size: 200%;
  color: #097;
  position: absolute;
  bottom: 200px;
  right: 70px;
  width: 33%;
}
#minTemp4{
  align-content: center;
  font-size: 200%;
  color: #097;
  position: absolute;
  bottom: 200px;
  right: 10px;
  width: 13%;
}
#maxTemp0{
  align-content: center;
  font-size: 200%;
  color: #603;
  position: absolute;
  bottom: 230px;
  right: 40px;
  width: 92%;
}
#maxTemp1{
  align-content: center;
  font-size: 200%;
  color: #603;
  position: absolute;
  bottom: 230px;
  right: 50px;
  width: 73%;
}
#maxTemp2{
  align-content: center;
  font-size: 200%;
  color: #603;
  position: absolute;
  bottom: 230px;
  right:60px;
  width: 55%;
}
#maxTemp3{
  align-content: center;
  font-size: 200%;
  color: #603;
  position: absolute;
  bottom: 230px;
  right: 70px;
  width: 33%;
}
#maxTemp4{
  align-content: center;
  font-size: 200%;
  color: #603;
  position: absolute;
  bottom: 230px;
  right: 10px;
  width: 13%;
}
#day0{
  position: absolute;
  font-size: 325%;
  right: 40px;
  width: 93%;
  font-family: 'Rubik Mono One', sans-serif;
}
#day1{
  position: absolute;
  font-size: 325%;
  right: 50px;
  width: 74%;
  font-family: 'Rubik Mono One', sans-serif;
}
#day2{
  position: absolute;
  font-size: 325%;
  right:60px;
  width: 55%;
  font-family: 'Rubik Mono One', sans-serif;
}
#day3{
  position: absolute;
  font-size: 325%;
  right: 50px;
  width: 35%;
  font-family: 'Rubik Mono One', sans-serif;
}
#day4{
  position: absolute;
  font-size: 325%;
  right: 80px;
  width: 10%;
  font-family: 'Rubik Mono One', sans-serif;
}
#conditions0{
  position: absolute;
  bottom: 100px;
  right: 40px;
  width: 93%;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
#conditions1{
  position: absolute;
  bottom: 100px;
  right: 50px;
  width: 75%;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
#conditions2{
  position: absolute;
  bottom: 100px;
  right:60px;
  width: 57%;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
#conditions3{
  position: absolute;
  bottom: 100px;
  right: 70px;
  width: 35%;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}
#conditions4{
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 15%;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}

